<ngx-collapse-details
  summary="Teste"
  width="60%"
  bgColor="#555"
  color="orange"
  borderRadius="5px 10px 15px 20px"
  bgHover="purple"
  boxShadow="0 0 5px 5px orange"
  colorHover="blue"
  borderDetail="1px solid purple"
>
<form action="" method="post">

  <fieldset>
    <legend>Story Jabuti</legend>
    <label for="story">Jabuti here
      <textarea name="story" id="story" cols="20" rows="10">Write your story Jabuti...</textarea>
    </label>
  </fieldset>
  <br />

	<button type="submit">Submit</button>
</form>
</ngx-collapse-details>
